@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif, Tahoma;
}
body{
    margin: 0;
    padding: 0;
}
.mt-4{ margin-top: 75px; }
.mt-5{ margin-top: 100px; }
/** ======================================================================================================= **/
/** =                            Estilos para la barra de navegación                                      = **/
/** ======================================================================================================= **/
nav{
    position: fixed;
    z-index: 10000;
    left: 0;
    right: 0;
    top:0;
    height: 70px;
    padding: 0 5%;
    background: rgb(9,71,55);
    background: linear-gradient(155deg, rgba(9,71,55,1) 0%, rgba(5,129,115,1) 47%, rgba(0,222,92,1) 100%);
}

nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #FFF;
}

nav .links{
    float: right;
    width: 60%;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: #FFF;
}

nav .links li{
    list-style: none;
}

nav .links li a{
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

#nav-toggle{
    position: absolute;
    top: -100px;
}

nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out;
}

nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: #FFF;
    margin: 5px;
    border-radius: 3px;
}

.wrapper{
    margin-top: 70px;
}

/** ======================================================================================================= **/
/** =                             Estilos para el banner principal                                        = **/
/** ======================================================================================================= **/
section.banner{ 
    background-color: rgb(176, 255, 250);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section.banner .banner-content{
    position: relative;
    width: 100%;
    text-align: center;
}
section.banner  .banner-content h2{
    position: relative;
    color: rgb(160, 82, 18);
    font-weight: 700;
    font-size: 36px; 
    z-index: 1;  
    top: -100px;

}
section.banner .banner-content p{
    position: relative;
    color: rgb(160, 82, 18);
    font-size: 24px; 
    font-weight: 700;
    z-index: 1;
    top: -90px;
}
section.banner .banner-content a{
    position: relative;
    text-decoration: none;
    width:200px;
    padding: 10px 20px;
    color: #FFF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 22px;
    background: rgb(9,71,55);
    background: linear-gradient(155deg, rgba(9,71,55,1) 0%, rgba(5,129,115,1) 47%, rgba(0,222,92,1) 100%);
    box-shadow: 2px 2px 5px black;
    top: -50px;
}

section.banner .banner-content a:hover{
    cursor: pointer;
    color: #000;
    background: #FFF;
    border: 2px solid rgb(9,71,55);
    border: 2px solid linear-gradient(155deg, rgba(9,71,55,1) 0%, rgba(5,129,115,1) 47%, rgba(0,222,92,1) 100%);
    box-shadow: none;
}

#rocks, #water{
    z-index: 2;
}

/** ======================================================================================================= **/
/** =                            Estilos para la sección acerca de mi                                     = **/
/** ======================================================================================================= **/
.row{    
    padding: 25px 75px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 45%;
}
.row .col50 p{
    text-align: justify;
    line-height: 24px;
    font-size: 18px;
    color: rgb(58, 58, 58);
}
.titulo{
    color: rgb(160, 82, 18);
    font-size: 28px;
    font-weight: 700;
}
.titulo span{
    color: #FF0157;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col50 .imgBx{
    position: relative;
    width: 100%;
    height: 100%;
}

.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boton-cv{
    cursor: pointer;
    float: right;
    position: relative;
    text-decoration: none;
    width: 180px;
    text-align: center;
    padding: 10px 20px;
    color: #FFF;
    border-radius: 5px;
    font-size: 18px;

    background: rgb(9,71,55);
    background: linear-gradient(155deg, rgba(9,71,55,1) 0%, rgba(5,129,115,1) 47%, rgba(0,222,92,1) 100%);
    box-shadow: 2px 2px 5px black;
}

.boton-cv:hover{
    background: rgb(9,71,55);
    background: linear-gradient(310deg, rgba(9,71,55,1) 0%, rgba(5,129,115,1) 47%, rgba(0,222,92,1) 100%);
    transition: all 0.5s ease-in-out;
}


/** ======================================================================================================= **/
/** =                            Estilos para la sección de proyectos                                     = **/
/** ======================================================================================================= **/
.titulo-claro{
    color: rgb(160, 82, 18);
    font-size: 28px;
    font-weight: 700;    
    text-align: center;
    margin-bottom: 50px;
}
.titulo-claro span{
    color: #FF0157;
    font-weight: 700;
    font-size: 1.5em;
}
.Proyectos{
    background: rgb(9,71,55);
    background: linear-gradient(155deg, rgba(9,71,55,.9) 0%, rgba(5,129,115,.9) 47%, rgba(0,222,92,.9) 100%);
}
.pulse, .ver-mas{  display: none;}
.Proyectos .titulo-claro{
    padding-top: 35px;
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 700;    
    text-align: center;
}
.Proyectos .titulo-claro span{
    color: #ff0800;
    font-weight: 700;
    font-size: 1.5em;
}
.section-card{    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;    
}
.card {
    margin: 30px 20px;
    width: 360px;
    height: 480px;
    background: rgb(0, 0, 0);    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 5px 5px 15px rgba(0,0,0);
    transition: all 0.3s ease-out;    
}
.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;    
}
.card .image img {
    width: 100%;
    min-height: 480px;
    transition: all .5s ease;
}
.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/        
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: rgb(236, 200, 40);
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
    z-index: 100;
}
.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
    transition: all .3s ease;    
}
.card .details .center {
    padding: 35px 20px;
    text-align: left;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card .details .center h1 {
    margin: 0;
    padding: 0;
    color: #ff0000;
    text-align: center;
    line-height: 18px;
    font-size: 18px;
    text-transform: uppercase;
}

.card .details .center p {
    margin: 20px 0;
    padding: 0;
    color: #262626;
    font-size: 16px;
    text-align: center;
}
.card .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}
.card .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}
.card .details .center ul li a {
    display: block;
    background: #0d5757;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
    margin-bottom: 10px;
}
.card .details .center ul li a:hover {
    background: #ff3636;
}
/** ============================================================ **/
/** =                 Tarjetas de tecnologías                  = **/
/** ============================================================ **/
.tecnologias{
    width: 100%;
    padding: 80px 0;
}
.tecnologia{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    max-width: 1200px;
    align-items: center;
}

.tecnologia .card-tec {
    width: 200px;
    height: 200px;
    background: rgb(9,71,55);
    background: linear-gradient(310deg, rgba(9,71,55,1) 0%, rgba(5,129,115,1) 47%, rgba(0,222,92,1) 100%);  
    overflow: hidden;
    position: relative;
    box-shadow: 2px 5px 6px rgba(0,0,0);
    border-radius: 15px;
    margin: 15px 10px; 
}
.tecnologia .card-tec .details {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 25px;
    left: 25px;
    background: rgb(255,255,255,0.50);
    background: linear-gradient(90deg, rgba(255,255,255,0.50) 0%, rgba(233,233,233,0.50) 66%, rgba(212,212,212,0.50) 100%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.tecnologia .card-tec .details img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
}

/** ============================================================ **/
/** =                 Sección de contacto                      = **/
/** ============================================================ **/
.contacto{    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width:80%;
    padding:20px;
    z-index: 5;
    background: rgba(226, 226, 226, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contenedor .fila{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.contenedor .fila .columna{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition-timing-function: 0.5s;
}

.contenedor .fila .cajaEntrada{
    position: relative;
    width: 100%;
    height: 40px;    
}

.contenedor .fila .cajaEntrada input,
.contenedor .fila .columna .textarea textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: rgb(255, 255, 255);
}

.contenedor .fila .cajaEntrada .texto{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
    font-weight: 700;
}

.contenedor .fila .cajaEntrada input:focus + .texto,
.contenedor .fila .cajaEntrada input:valid + .texto{
    top: -35px;
    left: -10px;
    color: rgb(9,71,55);
    font-weight: 700;
}

.contenedor .fila .cajaEntrada .linea{
    position: absolute;
    bottom:0;
    display: block;
    width: 100%;
    height: 2px;
    background: rgba(5,129,115,.9);
    transition:0.5s;
    border-radius: 2px;
    pointer-events: none;    
}

.contenedor .fila .cajaEntrada input:focus ~ .linea,
.contenedor .fila .cajaEntrada input:valid ~ .linea{
    height: 100%;
}

.contenedor .fila .columna .textarea{
    position: relative;
    padding: 10px 0;
    width: 100%;
    height: 100px;    
}

.contenedor .fila .columna textarea{
    height: 100%;
    resize: none;
}

.contenedor .fila .cajaEntrada textarea:focus + .texto,
.contenedor .fila .cajaEntrada textarea:valid + .texto{
    top: -35px;
    left: -10px;
    color: rgb(9,71,55);
    font-weight: 700
}

.contenedor .fila .cajaEntrada textarea:focus ~ .linea,
.contenedor .fila .cajaEntrada textarea:valid ~ .linea{
    height: 100%;
}

.contenedor .fila input[type="submit"]{
    max-width: 150px;
    background-color: rgb(9,71,55);;
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none; 
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 5px;
    font-weight: 700;
}

.contacto .montanias{
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    
}

@media screen and (max-width: 991px){
    .mt-4{ margin-top: 50px; }
    .mt-5{ margin-top: 75px; }
    .row{
        flex-direction: column;
        padding: 0px 75px;
    }
    .row:nth-child(4n+3){
        flex-direction: column-reverse;                
    }
    .row .col50{
        position: relative;
        width: 100%;
        margin-bottom: 15px;
    }
    .row .col50 .imgBx{
        height: 300px;        
    }    
    .boton-cv{
        margin-top: 10px;
        margin-bottom: 25px;
        font-size: 16px;
        text-align: center;        
    }
        
    .pulse{    
        display: initial;
        position: absolute;
        margin: auto;            
        z-index: 90;
        border-radius: 50%;
        margin: 0 10px;
        height: 5px;
        width: 5px;
        transform: scale(1);
        animation: pulse-black 2s infinite;   
        background: rgba(255, 0, 0, 0.5);
        box-shadow: 0 0 0 0 rgb(255, 0, 0);
        animation: pulse-red 2s infinite;
    }
    .ver-mas{
        display: initial;
        position: absolute;
        margin: auto;        
        bottom: calc(40% - 10px) ;
        font-size: 18px;
        z-index: 90;
        background-color: rgba(17, 107, 80, 0.8);
        border-radius: 7%;
        padding: 5px 15px;
        color:#FFF;
    }
    
    @keyframes pulse-red {
        0% {
            height: 5px;
            width: 5px;
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
          }
          
          70% {
            height: 15px;
            width: 15px;
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
          }
          
          100% {
            height: 10px;
            width: 10px;
            transform: scale(0.95);
            box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
          }
    }

}

@media screen and (max-width: 768px) {
    .mt-4{ margin-top: 40px; }
    .mt-5{ margin-top: 50px; }
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }   

    nav .links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 70px;
        bottom: 100%;
        width: auto;
        height: auto;
        background-color: rgba(0,0,0,0.8);
        flex-direction: column;
        justify-content: space-evenly;
        overflow: hidden;
        box-sizing: border-box;
        transition: all 0.5s ease-in-out;
    }
    nav .links a{
        font-size: 20px;
    }
    nav :checked ~ .links{
        bottom: 0;
    }
    nav .icon-burger{
        display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2){
        opacity: 0;
    }

    .cabecera .logo{
        font-size: 0.7em;
    }
    .cabecera .toggle img{
        max-width: 30px;
    }

    section.banner img{        
        object-fit: cover;        
    }    

    section.banner  .banner-content h2{        
        font-weight: 500;
        font-size: 26px;         
    }
    section.banner .banner-content p{
        font-size: 20px; 
        font-weight: 500;
    }
    section.banner .banner-content a{
        width:150px; 
        font-weight: 500;
        font-size: 18px;        
    }
    .row{        
        padding: 0px 50px;
    }
    .row .col50 p{        
        line-height: 20px;
        font-size: 16px;
        color: rgb(58, 58, 58);
    }

    .contact .contenedor{
        margin-left: -15px;
        padding: 0px;
    }
    .contenedor h2{ 
        font-size: 28px;
    }
    .contenedor .fila input,
    .contenedor .fila input[type="submit"]{
        font-size: 14px;
    }
    .contenedor .fila .cajaEntrada .texto{
        font-size: 14px;
    }
}

@media screen and (max-width: 540px){
    section.banner #bird2,#bird1{
        display: none;
    }

    .tecnologia .card-tec {
        width: 150px;
        height: 150px;        
        margin: 25px 10px; 
    }
    .tecnologia .card-tec .details {        
        width: 120px;
        height: 120px;
        top: 15px;
        left: 15px;        
    }
    
    .tecnologia .card-tec .details img {
        display: block;
        margin: auto;
        width: 120px;
        height: 120px;
    }
    .contenedor .fila{
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
}
@media screen and (max-width: 380px){
    .contenedor .fila{
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
}
